
.global-cont-shop{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    width: 100%;
    /* height: 500px; */
    /* background-color: yellowgreen; */
}
.shpecial-box{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 20px;
    width: 600px;
    height: 320px;
    background-color: aquamarine;
}
.forfon-image{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 320px;
    background-color: rgba(61, 70, 77, 0.5);
}
.forfon-image:hover{
    cursor: pointer;
    transition: all 0.3s;
    background-color: rgba(43, 43, 43, 0.63);
}
.shop-topic{
    text-align: center;
    width: 200px;
    height: 120px;
    /* background-color: aquamarine; */
}
.shop-topic h4{
    color: white;
}
.shop-topic h3{
    padding-top: 5px;
    font-size: 24px;
    color: white;
}
.shop-topic button{
    margin-top: 10px;
    width: 80px;
    height: 35px;
    background-color: #FFD333;
    border: none;
}
.shop-topic button:hover{
    cursor: pointer;
    background-color: #fdcb15;
}