*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.sort-cont{
    max-width: 1240px;
    /* height: 1000px; */
    /* background-color: red; */
}
.for-blocks-header{
    background-color: whitesmoke;
    /* margin-top: 50px; */
    display: flex;
    justify-content: right;
    width: 1230px;
    width: 100%;
    height: 80px;
    /* background-color:dodgerblue; */
}
.for-blocks-header button{
    margin-top: 20px;
    margin-right: 10px;
    cursor: pointer;
    width: 80px;
    height: 30px;
    background-color:white;
    border: none;
}
.features-blocks{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1250px;
    background-color: whitesmoke;
}
.boxes-features{
    position: relative;
    width: 270px;
    height: 350px;
    background-color:white;
    display: flex;
    margin: 10px;
    flex-wrap: wrap;
}
.features-img:hover{
    opacity: 0.1;
}
.for-opacity{
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    width: 270px;
    height: 239px;
    background-color: rgba(0, 0, 0, 0.452);
    margin-top: -256px;
}
.for-opacity:hover{
    cursor: pointer;
    transition: all 0.3s;
    opacity: 1;
}
.for-opacity img{
    cursor: pointer;
    padding-left: 5px;
    padding-right: 5px;
    width: 40px;
    height: 34px;
    background-color: rgba(255, 255, 255, 0.678);
    border-bottom: 2px solid aquamarine;
    /* border: 1px solid gray; */

}
.for-opacity img:hover{
    cursor: pointer;
    transition: all 0.3s;
    background-color:rgba(245, 245, 245, 0.479);
    border: 2px solid gray; 
}

.features-info{
    text-align: center;
    width: 270px;
    height: 60px;
    /* background-color: aqua;/ */
}
.imgfor-hover{
    width: 400px;
    height: 500px;
    background-color: aqua;
}
