.global-cont-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
    padding-top: 20px;
    width: 100%;
    /* height: 300px; */
    
    /* background-color: red; */
}
.box-card{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 170px;
    height: 160px;
    border: 12px solid #FFFFFF;
    /* background-color: yellow; */
}