*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.container-products-g{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30px;
    width: 100%;
    height: 550px;
    background-color: red;
}
.box-buy-products{
    display: flex;
    flex-wrap: wrap;

    width: 770px;
    height: 540px;
    background-color:rgb(245, 245, 245);
}
.camera-box{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 80px;
    background-color: white;
}
.camera-box:hover{
    background-color: whitesmoke;
}
.name-product{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 80px;
    /* background-color: white; */
}
.name-product img{
    width: 60px;
    height: 60px;
}
.name-product h4{
    color: gray;
    font-family: "Roboto", sans-serif;

}
.box-price{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 80px;
    /* background-color: white; */
}
.box-price p{
    color: gray;
    font-size: 18px;
}
.for-quanity{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 80px;
    /* background-color: white; */
}
.function-btn{
    cursor: pointer;
    width: 38px;
    height: 37px;
    font-size: 20px;
    background-color: #f5c30e;
    border: none;
}
#value-qnt{
    font-size: 16px;
    border: none;
    padding-top: 4px;
    width: 37px;
    height: 37px;
    background-color: whitesmoke;
}
.total-price{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 80px;
    /* background-color: white; */
}
.total-price p{
    color: gray;
    font-size: 18px;
}
.remove-btn{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 166px;
    height: 80px;
    /* background-color: white; */
}
.remove-btn button{
    cursor: pointer;
    color: white;
    font-size: 25px;
    border: none;
    width: 37px;
    height: 37px;
    background-color: #ff3449;
}
.shirt-box{
    display: flex;
    flex-wrap: wrap;
   width: 100%;
   height: 80px;
   background-color: white;
}
.shirt-box:hover{
    background-color: whitesmoke;
}
.lamp-box{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 80px;
    background-color: white;
}
.lamp-box:hover{
    background-color: whitesmoke;
}
.nike-box{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 80px;
    background-color:white;
}
.nike-box:hover{
    background-color: whitesmoke;
}
.dron-box{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 80px;
    background-color: white;
}
.dron-box:hover{
    background-color: whitesmoke;
}
.header-bar-cont{
    align-items: center;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    height: 60px;
    background-color: #343A40;
}
.header-bar-cont h4{
    font-family: "Roboto", sans-serif;
    color: white;
    font-size: 16px;
    /* font-weight: 500; */
}
.box-checkout{
    width: 440px;
    height: 500px;
    background-color: blueviolet;
}